*{
    margin: 0;
    padding: 0;
}

.navigation{
   width: 100%;
    height: 50px;
    background-color: blue;
padding:10px 0px;
display: flex;
justify-content:center
}

.navigation ul{
    display: flex;
    color: #fff;
    width: 50%;
    justify-content:space-around;
    height: 100%;
    align-items: center;
    
}

.navigation ul li{
   list-style: none;
}

.navigation ul li a{
    color:white;
    text-decoration: none;
    font-size: 25px;
 }

 .navigation ul li a:hover{
    color: #908575;
   
    
 }